/* 1 rem - 16px */
/* 2 rem - 36px */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.fa-solid {
    margin-top: 5px;
    padding-right: 10px;
}

.navbar__menu { /* ul */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item { /* li */
    height: 80px;
}

.navbar__links { /* anchor */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: white;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3 ease;
}

/* Main Section */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin:  0 auto;
    height: auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1em;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover::after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 90%;
    width: 90%;
}

/* Service Section */
.service {
    background-color: #141414;
    padding: 40px 0;
}
.service__container {
    margin: 0 auto;
    text-align: center;
}

.service__header h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 4px;
    background-image: linear-gradient(to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.service_body {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center; 
}

.service__item {
    font-size: 1rem;
    height: 525px;
    width: 100%;
    max-width: 350px;
    border-radius: 4px;
    flex: 1 1 0;
    border-radius: 5px;
}

.service__item {
    background: url('./images/vrpic.jpg')
    center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

/* Footer Section */
footer {
    background-color: #141414;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.footer__about {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.footer_title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer__container {
    background-color: #141414;
    width: 100%;
    margin: 0 auto;
}

.footer__item {
    color: #fff;
}

.footer_link_item {
    padding: 5px 0;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 16px;
}

.social__icon__link {
    color: #fff;
    font-size: 24px;
}

.footer__social__media {
    background-color: #141414;
    width: 100%;
    display: flex;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__right {
    color: #fff;
}




/* Mobile Responsive */
/* Navbar */
@media screen and (max-width:960px) {
    .navbar__container {
        display: flex;;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        z-index: 1;
        padding: 0;
    }

    .navbar__menu { /* ul скрыли чтобы для телефона nav был в виде бургера */
        display: grid; /* если размер экрана будет уменьшаться форма nav тоже будет */
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh; 
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {  /* js classList .active  */
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar { /* 3 блока в виде бургер для мобильной версии */
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: white;
        display: block;
        cursor: pointer;  
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    
/* каждый второй дочерний элемент бургера */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
} 

/* Main */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 50vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }
    
    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }
    
    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services */
@media screen and (max-width: 768px) {
    .services__title {
        font-size: 2rem;
        margin-top: 1rem;
        text-align: center;
        padding: 0 2rem;
    }

    .services__container {
        
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: auto;
    }

    .services__card {
        width: 300px;
    }
    
    .card__inner {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 960px) {
    .services {
        height: auto;
    }

    .services__title {
        font-size: 2rem;
        margin-top: 26rem;
        text-align: center;
        padding: 0 2rem;
    }

    .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    }
}

/* Footer */
@media screen and (max-width:480px) {
    
}